Host gitlab
	HostName gitlab.com
	User git
	IdentityFile home/siyu/.ssh/id_rsa

Host github
	HostName github.com
	User git
	IdentityFile home/siyu/.ssh/id_rsa

Host caen
	HostName login.engin.umich.edu
	User wusiyu
	Compression yes

